[Unit]
Description=Cassandra
After=network.target

[Service]
User=cassandra
Group=cassandra

Environment=PATH=/usr/local/bin:/usr/bin:/bin:/opt/uploadserver/java/bin:/opt/uploadserver/cassandra/bin
Environment=JAVA_HOME=/opt/uploadserver/java
Environment=CASSANDRA_HOME=/opt/uploadserver/cassandra

Type=forking
ExecStart=/opt/uploadserver/cassandra/bin/cassandra
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target