[Unit]
Description=Tomcat
After=network.target

[Service]
User=tomcat
Group=tomcat

Environment=PATH=/usr/local/bin:/usr/bin:/bin:/opt/uploadserver/java/bin:/opt/uploadserver/tomcat/bin
Environment=JAVA_HOME=/opt/uploadserver/java
Environment=CATALINA_HOME=/opt/uploadserver/tomcat

Type=forking
ExecStart=/opt/uploadserver/tomcat/bin/startup.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target